# Don’t commit the following directories created by pub.
.DS_Store
build/
packages

# dont include tests related output
inferred/
tmp
.stripped/
benchmarks/results.info
tests_stripped/
log


# Or the files created by dart2js.
*.dart.js
*.dart.precompiled.js
*.js_
*.js.deps
*.js.map

# Include when developing application packages.
pubspec.lock

tests/.stripped
tests/output
results.json