[submodule "benchmarks/Dark"]
	path = benchmarks/Dark
	url = git@github.com:xNotch/dark.git
[submodule "benchmarks/StageXL"]
	path = benchmarks/StageXL
	url = git@github.com:bp74/StageXL.git
[submodule "benchmarks/three"]
	path = benchmarks/three
	url = git@github.com:threeDart/three.dart.git
[submodule "benchmarks/spectre"]
	path = benchmarks/spectre
	url = git@github.com:johnmccutchan/spectre.git
[submodule "benchmarks/mongo_dart"]
	path = benchmarks/mongo_dart
	url = git@github.com:vadimtsushko/mongo_dart.git
[submodule "benchmarks/play_phaser"]
	path = benchmarks/play_phaser
	url = git@github.com:playif/play_phaser.git
[submodule "benchmarks/play_p2"]
	path = benchmarks/play_p2
	url = git@github.com:playif/play_p2.git
[submodule "benchmarks/play_pixi"]
	path = benchmarks/play_pixi
	url = git@github.com:playif/play_pixi.git
[submodule "benchmarks/start"]
	path = benchmarks/start
	url = git@github.com:lvivski/start.git
[submodule "benchmarks/rikulo_UI"]
	path = benchmarks/rikulo_UI
	url = git@github.com:rikulo/ui.git
[submodule "benchmarks/dart-webgl"]
	path = benchmarks/dart-webgl
	url = git@github.com:jtmcdole/dart-webgl.git
[submodule "benchmarks/qr"]
	path = benchmarks/qr
	url = git@github.com:kevmoo/qr.dart.git
