[submodule "benchmarks/ui"]
	path = benchmarks/ui
	url = git@github.com:TLeth/ui.git
[submodule "benchmarks/three.dart"]
	path = benchmarks/three.dart
	url = git@github.com:TLeth/three.dart.git
[submodule "benchmarks/start"]
	path = benchmarks/start
	url = git@github.com:TLeth/start.git
[submodule "benchmarks/qr.dart"]
	path = benchmarks/qr.dart
	url = git@github.com:TLeth/qr.dart.git
[submodule "benchmarks/spectre"]
	path = benchmarks/spectre
	url = git@github.com:TLeth/spectre.git
[submodule "benchmarks/play_phaser"]
	path = benchmarks/play_phaser
	url = git@github.com:TLeth/play_phaser.git
[submodule "benchmarks/play_p2"]
	path = benchmarks/play_p2
	url = git@github.com:TLeth/play_p2.git
[submodule "benchmarks/mongo_dart"]
	path = benchmarks/mongo_dart
	url = git@github.com:TLeth/mongo_dart.git
[submodule "benchmarks/dart-webgl"]
	path = benchmarks/dart-webgl
	url = git@github.com:TLeth/dart-webgl.git
[submodule "benchmarks/dark"]
	path = benchmarks/dark
	url = git@github.com:TLeth/dark.git
[submodule "benchmarks/StageXL"]
	path = benchmarks/StageXL
	url = git@github.com:TLeth/StageXL.git
[submodule "benchmarks/play_pixi"]
	path = benchmarks/play_pixi
	url = git@github.com:TLeth/play_pixi.git
[submodule "benchmarks/dgrep"]
	path = benchmarks/dgrep
	url = git@github.com:TLeth/dgrep.git
[submodule "benchmarks/dcat"]
	path = benchmarks/dcat
	url = git@github.com:TLeth/dcat.git
[submodule "benchmarks/dart2js"]
	path = benchmarks/dart2js
	url = git@github.com:TLeth/dart2js.git
[submodule "benchmarks/pop_pop_win_package"]
	path = benchmarks/pop_pop_win_package
	url = git@github.com:TLeth/pop_pop_win_package.git
